<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'travel_buddy/css/styles.css' %}" />

        <title>Travel Buddy - {{ trip.destination }}</title>
    </head>

    <body>



        <div class="container-fluid">

            <br><a class="btn btn-default" href="{% url 'travel_buddy:index' %}">Home</a>
            <a class="btn btn-warning" href="{% url 'travel_buddy:logout' %}">Logout</a><br><br>

            <div class="row-fluid">

                <div class="col-md-8">
                    <div class="well">

                        <h2>{{ trip.destination }}</h2>
                        <p>Planned By: {{ trip.planner.name }}</p>
                        <p>Description: {{ trip.description }}</p>
                        <p>From: {{ trip.start_date }}</p>
                        <p>To: {{ trip.end_date }}</p>


                        <h2>Other People Attending This Trip:</h2>
                        {% for user in attendees %}
                        <p>{{ user.name }}</p>
                        {% endfor %}

                    </div>


                </div>


            </div>



        </div>

    </body>

</html>
